body{
background-color:gray;
color:#555;
font-size: 15px;
border-style: groove;
border-color: rgb(255, 255, 255);
}
textarea{
    background-color: bisque;
}
input[type=date]{
    color:rgb(150, 150, 150);
}
input[type=submit]{
    width: 700px;
    height: 950;
}
input[type=reset]{
    width: 700px;
    height: 250;
}

input{
     background-color:rgb(184, 187, 184);
    color:rgb(74, 100, 50);
    border:2px solid #555;
    border-radius:7px;
    border-color: rgb(38, 38, 38);
    border-style: dotted;
    font-size: 20px;
    }

    h1{
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        color:#c0a34e;
    }
    

        
    
    
