body{
background-color:gray;
}

input[type=date]{
    color:rgb(150, 150, 150);
}
input[type=text]{
    color:rgb(77, 77, 77);
    font-size: 20px;

}
select{
    color:red;


}

input{ background-color:rgb(184, 187, 184);
    color:rgb(74, 100, 50);
    border:5px solid #555;
    border-radius:7px;
    text-transform: uppercase;
    border-color: rgb(38, 38, 38);
    border-style: dotted;
    text-decoration: underline;
    font-weight: bold;
    }

    h1{
        text-align: center;
        font-size: 20px;
        color:#c0a34e;
    }
    h2{ 
        font-size: 25px;
        color:#c0a34e;
    }

        
    
    
